@charset "utf-8";
/* ===============================
Top Page
=============================== */
*{
    box-sizing: border-box;
}
p,h1,ul{
    margin: 0;
}
ul li
{
    list-style: none;
    
}
.pc{
    display: block;
}
.sp{
    display: none;
}
.tb{
    display: none;
}
body.scrollclose{
    overflow: hidden;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav-container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.sec-nav{
    background-color: #EFF8E3;
    /* position:sticky; */
    height: 80px;
    top: 0px;
    z-index: 100;
    padding-top: 30px;
}
.sec-nav.transparent{
    background-color: transparent;
}

.sec-mv{
    background-color: #EFF8E3;
    /* padding-top: 30px; */
    padding-bottom: 100px;
}
.nav-blk {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 30px;
    align-items: center;
    position:sticky;
    max-width: 1200px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 16px 26px #00000017;
    top: 30px;
   
}
.logo-blk{
    z-index: 99;
}

.nav-blk .logo-blk a h1{
    display: flex;
    align-items: center;

}
.nav-blk .logo-blk a h1 img{
    width: 64px;
    height: 50px;
}
.nav-blk .logo-blk a h1 p{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 20px;
   color: #000000;
}
.nav-list ul li a{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #000000;
}
.nav-list ul li a:hover,.nav-list ul li a:active{
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    color: #90C31E;
}
.nav-list ul{
    display: flex;
    gap: 30px;
    align-items: center;

}
.nav-list ul .active{
    max-width: 160px;
    background-color: #307C4F;
    padding: 14px 27px;
    border-radius: 10px;
    text-align: center;
}
.nav-list ul .active a{
    color: #FFFFFF;
}
.sec-mv .mv-blk{
    display: flex;
    padding-top: 80px;
}
.mv-blk .mv-left{
    margin-left: 30px;
    position: relative;
    background: url("../img/mv-left.png") no-repeat left/contain;
    max-width: 520px;
   padding-right: 129px;
   background-position: top;
    
}
.mv-left-photo
{
 max-width: 100%;
    height: auto;

}
.banner-right{
    width: 60%;
    position: relative;
}
.banner-right .mv-right{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: -60px;
}
.mv-blk .mv-left .mv-txt p{
    font-family: "Noto sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-bottom: 35px;
    padding-top: 127px;
    padding-left: 18px;
}
.mv-blk .mv-left .mv-txt div{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 1.8;
    max-width: 400px;
    margin-bottom: 40px;
    margin-left: -30px;
}
.mv-right-photo{
    overflow: hidden;
    width: 100%;
}

.btn-blk{
    max-width: 240px;
    padding: 20px 17px;
    background-color: #90C31E;
    border-radius: 40px;
    margin: 0 auto;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
    cursor: pointer;
}
.mv-btn{
    color: #FFFFFF;
    position: relative;
}
.mv-btn::after{
    content: "";
        background: url("../img/icon_arrow.png") no-repeat center/contain;
        width: 9px;
        height: 14px;
        display: inline-block;
        position: absolute;
        right: -20px;
        top: 55%;
        transform: translateY(-50%);
}

.join-blk{
    width: 100%;
    background-color:#FFFFFF;
    position:relative;
    max-width: 1000px;
    padding: 50px 100px 50px 65px;
    display: flex;
    left: 50%;
    justify-content: space-between;
    box-shadow: 0px 16px 26px #00000017;
    border-radius: 40px;
    transform: translateX(-50%);
    margin-bottom: -214px;
}

.join-blk .first-blk .notice{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #307C4F;
    padding-top: 25px;  
}
.join-blk .first-blk{
    max-width: 110px;
}
.join-blk .first-blk .news{
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #90C31E;
    margin-bottom: 22px;
    margin-top: 10px;
    padding-left: 23px;
    
}
.join-blk .first-blk .link{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    padding-left: 4px;
    position: relative;
}

.join-blk .first-blk .link::after{
    content: "";
    background: url("../img/asset1.png") no-repeat center / contain;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    font-size: 12px;
    right: 0;
    top: -4px;
}
.join-blk .second-blk .second-date{
    display: flex;
    gap:35px;
    cursor: pointer;
}
.join-blk .second-blk{
    padding-top: 15px;
    border-left: 1px dashed gray;
    padding-left: 65px;
    width: calc((100% - 150px));
   
}

.second-blk .second-date .date-blk .date{
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight:700;
    color: #307C4F;
} 
.second-blk .txt{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
} 
.second-blk .last-txt{
    margin-bottom: 0;
}

.sec-about .container{
    padding-top: 195px;
    padding-bottom: 95px;
}
.sec-about .about-heading{
    text-align: center;
    color: #03561E;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}
.sec-about .about-us{
    text-align: center;
    color: #90C31E;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 18px;
}
.sec-about .container .txt{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 55px;
}
.sec-about .container .txt p{
    color: #000000;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 1.87;
}
.about-btn{
    max-width: 330px;
    padding: 20px;
    background-color: #90C31E;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 108px;
    margin-bottom: 30px;
    position: relative;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.about-btn a{
    color: #FFFFFF;
}
.sec-about .container .image-txt{
    text-align: center;
    color: #000000;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 75px;
}
.sec-about .container .family_image{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
.sec-about .container .pc_family{
    width: 100%;
    height: auto;
    margin:0 auto;
}
.sec-about .container .sp_family{
    margin:0 auto;
    width: 100%;
}
.detail-btn{
    max-width: 320px;
    padding: 20px;
    background-color: #03561E;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 77px; 
    border-radius: 40px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
   
}
.detail-btn a{
    color: #FFFFFF;
    position: relative;
}
.detail-btn a::after{
    content: "";
    background: url("../img/icon_arrow.png") no-repeat center / contain;
    width: 9px;
    height: 14px;
    display: inline-block;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}
.about-btn::before{
    content: "";
    background: url("../img/img_button.png")no-repeat center/contain;
position: absolute;
width: 15px;
height: 15px;
top: 94%;
    left: 45%;
}

.sec-myanmar{
    background-color: #EFF8E3;
    padding-top: 20px;
    padding-bottom: 40px;
    
   
}
.sec-myanmar .container{
    background: url("../img/img_myanmar.png") no-repeat center/contain;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
}

.sec-myanmar .container h3{
    text-align: center;
    margin: 0;
    color: #03561E;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 100px;
}
.sec-myanmar .container .about_myanamar{
    color: #90C31E;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 60px;
}
.sec-myanmar .container .description{
    color: #000000;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
}
.sec-myanmar .container .txt{
    max-width: 800px;
    margin:0 auto;
    color: #000000;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.sec-myanmar .container .txt p{
    margin-bottom: 17px;
}

.myanmar-btn{
    max-width: 320px;
    padding: 20px;
    background-color: #03561E;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 84px; 
    border-radius: 40px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
   
}
.myanmar-btn a{
    color: #FFFFFF;
    position: relative;
}
.myanmar-btn a::after{
    content: "";
    background: url("../img/icon_arrow.png") no-repeat center / contain;
    width: 9px;
    height: 14px;
    display: inline-block;
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
    
}

.sec-accordion{
    padding-top: 100px;
    padding-bottom: 200px;
}

.accordion-heading {
    text-align: center;
    font-size: 32px;
    color: #03561E;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

.container .sub-heading {
    text-align: center;
    font-size: 20px;
    font-family: "lato", sans-serif;
    font-weight: 700;
    color: #90C31E;
    margin-bottom: 60px;

}

.accordion-blk {
    margin-bottom: 30px;
}

.container .accordion-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .accordion-title span {
    padding: 25px;
    font-size: 30px;
    color: #fff;
    background-color: #90C31E;
    border-radius: 10px;
    font-family: "lato", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.container .accordion-title h3 {
    background-color: #F5F5F5;
    font-size: 16px;
    cursor: pointer;
    padding: 35px 100px 25px 30px ;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    cursor: pointer;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.36;
}

.accordion-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.accordion-blk .accordion-content p {
    background-color: #F5F5F5;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    padding: 35px 10px 25px 30px;
    border-radius: 10px;
    width: 100%;
    margin: 2px;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.36;
}

.accordion-blk .accordion-content span {
    color: #fff;
    font-size: 30px;
    padding: 26px;
    background-color: #03561E;
    border-radius: 10px;
    cursor: pointer;
    font-family: "lato", sans-serif;
    font-weight: 700;
}

.question {
    font-size: 20px;
    color: #fff;
    background-color: #90C31E;
    padding: 20px;
    border-radius: 12px;
}

.container .accordion-title::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: #03561E;
    color: #F5F5F5;
    font-size: 28px;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
    cursor: pointer;
}

.container .accordion-title.open::after {
    position: absolute;
    content: "-";
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #03561E;
    color: #F5F5F5;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn {
    background-color: #03561E;
    color: #fff;
    font-size: 20px;
    padding:20px;
    border-radius: 40px;
    display: block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    position: relative;
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.btn::after {
    content: "";
    background: url("../img/icon_arrow.png") no-repeat center/contain;
    display: inline-block;
    width: 10px;
    height: 14px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion{
    margin: 0 auto;
    max-width: 800px;
}

.footer{
    background-color:#03561E ;
    padding: 70px 0;
}
.footer .container p{
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

#scroll-btn{
    display: inline-block;
  background-color: #03561E;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 200px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
  .scrolltop {
    display: flex;
    justify-content: flex-end;
    padding: 0 45px;
}
.scrolltop .pagetop {
    position: fixed;
    bottom: 37px;
    width: 60px;
    height: 60px;
    transition: 0.2s;
    border-radius: 50%;
    background: url(../img/top.png) no-repeat;
    background-size: 100% 100%;
    z-index: 80;
    /* background-color: red; */
}
.scrolltop.pos {
    position: relative;
}
.scrolltop.pos .pagetop {
    position: absolute;
    /* bottom: -150px; */
    top: -165px;
}
.d-none {
    display: none;
}


@media screen and (max-width: 1200px) {
    .nav-blk {
        padding: 20px 11px;
    }
    .nav-list ul {
        gap: 17px;
    }
    .nav-blk .logo-blk a h1 p {
        font-size: 17px;
    }
    
    .nav-list ul li a {
        font-size: 14px;
    }
    .mv-blk .mv-left .mv-txt p {
        font-family: "Noto sans", sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        margin-bottom: 21px;
        padding-left: 0;
    }
    .mv-blk .mv-left {
        padding-right: 80px;
    }

    .join-blk {
        padding: 50px 40px 50px 30px;
    }
    .join-blk .second-blk {
        padding-left: 50px;
    }
    .join-blk .first-blk{
        padding-right: 10px;
    }
    .join-blk .first-blk .link::after {
        right: -16px;
    }
    .join-blk .first-blk .notice {
        font-size: 18px;
    }
    .join-blk .first-blk .link {
        font-size: 13px;
        padding-left: 3px;
    }
}
@media screen and (max-width: 1000px) {
       .tb{
        display: block;
       }
       .nav-blk {
        padding: 0 20px;
        background-color: transparent;
        z-index: 99;
        box-shadow: none;
    }
    .nav-btn {
        display: flex;
        position: absolute;
        top: -36px;
        right: -30px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-top: 32px;
        margin-right: 35px;
        padding: 6px;
        cursor: pointer;
        z-index: 2;
        background-color: #307C4F;
        border-radius: 50%;
      }
    
      .nav-btn .bar1,
      .nav-btn .bar2,
      .nav-btn .bar3 {
        display: block;
        width: 54%;
        height: 2px;
        background: #EFF8E3;
      }
      .nav-container.nopadding{
        padding: 0;
    }
      .menu-name{
        font-size: 12px;
        color: #FFFFFF;
        bottom: 0;
      }
      .close-btn .menu-name{
        margin-top: 18px;
      }
      
    
      .close-btn {
        display: flex;
        position: absolute;
        top: -36px;
        right: -15px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        width:60px;
        height:60px;
        padding: 18px;
        cursor: pointer;
    background-color:#307C4F;
    border-radius: 50%;
    
      }
    
      .close-btn .bar1 {
        display: block;
        position: absolute;
        width: 54%;
        height: 2px;
        margin-left: 5px;
        background: #FFFFFF;
        transform: rotate(-135deg);
        top: 23px;
      }
    
      .close-btn .bar2 {
        display: none;
      }
    
      .close-btn .bar3 {
        display: block;
        position: absolute;
        width: 54%;
        height: 2px;
        margin-right: -5px;
        background: #FFFFFF;
        transform: rotateZ(135deg);
        top: 23px;
      }
    
      .nav-list {
        display: none;
      }
    
      .logo {
        position: relative;
      }
    
      .open-menu {
        display: flex;
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: #FFFFFF;
        /* transition: 5s all; */
        opacity: 1;
      }
    
      .open-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 127px;
        padding-left: 0;
      }
    
      .open-menu ul li {
        list-style: none;
      }
    
      .open-menu ul li a {
        color: #000;
        text-decoration: none;
      }
    
      .open-menu ul li a:hover {
        color: green;
        transition: 0.2s all;
      }
    
       .nav-list {
        margin-top: -31px;
        top:0;
      }
      .nav-list ul .active {
        max-width: 210px;
    }
    
       .nav-list ul li {
        margin-bottom: 44px;
      }
    
      .nav-list ul li .contact {
        margin-top: 1.563vw;
        margin-left: -3.646vw;
        padding: 0.391vw 2.865vw;
        border: 0.521vw solid #FF8364;
        border-radius: 0.391vw;
    
      }
      .nav-blk .logo-blk a h1 p {
        font-size: 16px;
        font-weight: 500;
    }
    /* .menu{
        
        background: url("../img/burger.png") no-repeat center/contain;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        width: 60px;
        height: 60px;
        padding-top: 38px;
        text-align: center;
        font-size: 11px;
        color: white;
        z-index: 2;
    } */
    /* .open-menu::after{
        background: url("../img/burger.png") no-repeat center/contain;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 60px;
        padding-top: 38px;
        text-align: center;
        font-size: 11px;
        color: white;
        z-index: 2;
    } */
   


    /* Burger Testing */











    .nav-list ul li a {
        font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        color: #307C4F;
    }
    .nav-list .nav-meaning{
        font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        color: #90C31E;
        text-align: center;
        margin-top: 20px;
    }
    .nav-list ul .active a{
        position: relative;
    }
    /* .menu {
        background-color: #307C4F;
        border-radius: 50%;
        position: relative;
        width: 60px;
        height: 60px;
        padding-top: 38px;
        text-align: center;
        font-size: 11px;
        color: white;
        z-index: 2;
    } */
    /* .menu {
        background-color: #307C4F;
        border-radius: 50%;
        position: relative;
        width: 60px;
        height: 60px;
        padding-top: 38px;
        text-align: center;
        font-size: 11px;
        color: white;
        z-index: 2;

} */
}

@media screen and (max-width: 768px) {
   .pc{
    display: none;
   }
   .sp{
    display: block;
   }
   
   
    .nav-btn {
        display: flex;
        position: absolute;
        top: -44px;
        /* right:  -24px; */
        right: -22px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 60px;
        height: 60px;
        margin-top: 32px;
        margin-right: 35px;
        padding: 6px;
        cursor: pointer;
        z-index: 2;
        background-color: #307C4F;
        border-radius: 50%;
      }
    
      .nav-btn .bar1,
      .nav-btn .bar2,
      .nav-btn .bar3 {
        display: block;
        width: 54%;
        height: 2px;
        background: #EFF8E3;
      }
      .menu-name{
        font-size: 12px;
        color: #FFFFFF;
      }
      .close-btn .menu-name{
        margin-top: 18px;
      }


      .close-btn {
        display: flex;
        position: absolute;
        top: -44px;
        right: -7px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        width:60px;
        height:60px;
        padding: 18px;
        cursor: pointer;
        background-color:#307C4F;
        border-radius: 50%;
    
    
      }
    
      .close-btn .bar1 {
        display: block;
        position: absolute;
        width: 54%;
        height: 2px;
        margin-left: 5px;
        background: #FFFFFF;
        transform: rotate(-135deg);
        top: 23px;

      }
    
      .close-btn .bar2 {
        display: none;
      }
    
      .close-btn .bar3 {
        display: block;
        position: absolute;
        width: 54%;
        height: 2px;
        margin-right: -5px;
        background: #FFFFFF;
        transform: rotateZ(135deg);
        top: 23px;

      }
    
      .nav-list {
        display: none;
      }
    
      .logo {
        /*z-index: 1;*/
        position: relative;
      }
    
      .open-menu {
        display: flex;
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: #FFFFFF;
        /* transition: 5s all; */
        opacity: 1;
      }
    
      .open-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 127px;
        padding-left: 0;
      }
    
      .open-menu ul li {
        list-style: none;
    
      }
    
      .open-menu ul li a {
        color: #000;
        text-decoration: none;
      }
    
      .open-menu ul li a:hover {
        color: green;
        transition: 0.2s all;
      }
    
       .nav-list {
        margin-top: -31px;
        top:0;
      }
    
       .nav-list ul li {
        margin-bottom: 44px;
      }
    
      .nav-list ul li .contact {
        margin-top: 1.563vw;
        margin-left: -3.646vw;
        padding: 0.391vw 2.865vw;
        border: 0.521vw solid #FF8364;
        border-radius: 0.391vw;
    
      }
      .nav-blk .logo-blk a h1 p {
        font-size: 16px;
        font-weight: 500;
    }
    .menu{
        background-color: #307C4F;
        border-radius: 50%;
        position: relative;
        width: 60px;
        height: 60px;
        padding-top: 38px;
        text-align: center;
        font-size: 11px;
        color: white;
        z-index: 2;
    }
    .nav-list ul li a {
        font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
        color: #307C4F;
    }
    .nav-list .nav-meaning{
        font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        color: #90C31E;
        text-align: center;
        margin-top: 20px;
    }
    .nav-list ul .active{
        max-width: 260px;
        background-color: #90C31E;
        padding: 14px 48px;
        border-radius: 30px;
        text-align: center;
        
    }
    .nav-list ul .active a{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        position: relative;
    }
    .nav-list ul .active a::after{
        content: "";
        background: url("../img/icon_arrow.png") no-repeat center/contain;
        width: 9px;
        height: 14px;
        display: inline-block;
        position: absolute;
        right: -30px;
    }
    .mv-blk .mv-left {
        padding-left: 0px;
        position: relative;
        background: url("../img/mv-left.png") no-repeat center/contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;
        padding-right:0;
        width: 100%;
        /* background-position: top; */
    }
    .sec-mv .mv-blk {
        display: block;
        padding-top: 0px;
    }
    .mv-blk .mv-left .mv-txt p {
        font-size: 30px;
        margin-bottom: 21px;
        text-align: center;
        padding-top: 220px;
    }
    .mv-blk .mv-left .mv-txt div {
        margin-bottom: 40px;
        text-align: center;
        max-width: 100%;
        margin-left: 0;
    }
    .banner-right{
        width: 100%;
    }
    .banner-right .mv-right {
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0px;
    }
    .nav-blk .logo-blk a h1 img {
        width: 38px;
        height: 30px;
    }
    .nav-blk {
        padding:0;
        background-color: transparent;
        z-index: 99;
        box-sizing: none;
    }
    .sec-about .container {
        padding-top: 300px;
        padding-bottom: 60px;
    }
    .sec-about .about-heading {
        font-size: 24px;
    }
    .sec-about .about-us {
        font-size: 14px;
        margin-top: 15px;
    }
    .sec-about .container .txt {
        margin-top: 30px;
    }
    .sec-about .container .txt p {
        font-weight: 400;
        font-size: 14px;
        margin-bottom:0;
        line-height: 1.7;
    }
    .about-btn {
        max-width: 345px;
        padding: 20px;
        margin-top: 80px;
    }
    .sec-about .container .image-txt {
        font-size: 16px;
        margin-bottom: 80px;
    }
    .detail-btn {
        max-width: 345px;
        margin-top: 35px;
    }
    .sec-myanmar {
        /* padding: 60px 0; */
        padding-top: 37px;
        padding-bottom: 23px;
    }
    .sec-myanmar .container h3 {
        font-size: 24px;
        padding-top: 9px;
    }
    .sec-myanmar .container .about_myanamar {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .sec-myanmar .container .description {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .sec-myanmar .container .txt {
        font-size: 14px;
        line-height: 1.7;
    }
    .sec-myanmar .container .txt p {
        margin-bottom: 10px;
    }
    .myanmar-btn {
        max-width: 345px;
        margin-top: 50px;
       
    }

    /* testing */
    .sec-accordion {
        padding-top: 55px;
        padding-bottom: 140px;
    }
    .accordion-heading {
        font-size: 24px;
    }
    .container .sub-heading {
        font-size: 14px;
        margin-bottom: 30px;
        margin-top: 13px;
    }
    .container .accordion-title span {
        padding: 21px 10px;
        font-size: 20px;
    }
    .container .accordion-title h3 {
        font-size: 14px;
        padding: 9px 55px 12px 20px;
        line-height: 3;
    }
    .container .accordion-title::after {
        content: "+";
        position: absolute;
        top: 50%;
        right: 12px;
        width: 20px;
        height: 20px;
        background-color: #03561E;
        color: #F5F5F5;
        font-size: 17px;
        text-align: center;
    }
    .container .accordion-title.open::after {
        position: absolute;
        content: "-";
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #03561E;
        color: #F5F5F5;
        font-size: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
    }
    .accordion-blk .accordion-content span {
        color: #fff;
        font-size: 21px;
        padding: 29px 10px;
    }
    .accordion-blk .accordion-content p {
        font-size: 14px;
        padding:20px 19px 36px 15px;
        /* line-height: 3; */
    }
    .sec-con {
        padding: 90px 0;
    }
    .btn {
        max-width: 345px;
    }
    .footer{
        padding: 60px 0;
    }
    .join-blk {
        width: 100%;
        /* padding: 150px 0; */
        padding: 55px 15px 61px;
        display: block;
        margin-bottom: -346px;
}
.join-blk .first-blk{
    padding-right: 0;
    max-width: 100%;
}
.join-blk .first-blk .notice {
    text-align: center;
    padding-top: 0;
}
.join-blk .first-blk .news {
    font-size: 14px;
    margin-bottom: 37px;
    margin-top: 15px;
    padding-left: 0;
    text-align: center;
}
.join-blk .second-blk {
    padding-top: 0;
    /* padding-left: 15px; */
    border-left: 0px;
    border-bottom: 1px dashed gray;
    padding-left: 10px;
    width: 100%;
}
.join-blk .second-blk .second-date {
    display: block;
    gap: 35px;
}
.date-blk{
    display: flex;
    gap: 35px;
    align-items: center;
    margin-bottom: 15px;
}
.second-blk .second-date .date-blk .date {
    font-size: 14px;
}
.date-blk .date_sp{
font-size: 12px;
font-weight: 500;
font-family: "hiragino-kaku-gothic-pron", sans-serif;
color: #FFFFFF;
background-color: #307C4F;
width: 80px;
text-align: center;
border-radius: 5px;
padding: 5px 0;

}
.second-blk .txt {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.3;
}
.link_sp{
        font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #000000;
        padding-left: 0px;
        position: relative;
        display: flex;
    justify-content: end;
    margin-top: 33px;
    align-items: center;
    padding-right: 60px;
    
}
.link_sp::after {
    content: "";
    background: url(../img/asset1.png) no-repeat center / contain;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    font-size: 12px;
    right:0;
}
/* .scrolltop.pos .pagetop {
    position: absolute;
    bottom: -100px;
} */
.scrolltop {
    padding: 0 40px;
}
.scrolltop.pos .pagetop {
    top: -165px;
}

}

@media screen and (max-width: 550px) {
    .container .accordion-title span {
        padding: 15px 8px;
        font-size: 20px;
    }
    .container .accordion-title h3 {
        font-size: 10px;
        padding: 10px 40px 11px 20px;
        /* line-height: 3; */
    }
    .container .accordion-title::after {
        content: "+";
        position: absolute;
        top: 50%;
        right: 12px;
        width: 20px;
        height: 20px;
        background-color: #03561E;
        color: #F5F5F5;
        font-size: 17px;
        text-align: center;
    }
    .container .accordion-title.open::after {
        position: absolute;
        content: "-";
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #03561E;
        color: #F5F5F5;
        font-size: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
    }
    .accordion-blk .accordion-content span {
        color: #fff;
        font-size: 18px;
        padding: 30px 11px;
    }
    .accordion-blk .accordion-content p {
        font-size: 11px;
        padding: 20px 19px 30px 16px;
        /* line-height: 3; */
    }
    .sec-con {
        padding: 90px 0;
    }
    .nav-btn {
        top: -35px;
        /* right: -24px; */
        right: -42px;
        width: 40px;
        height: 40px;
    }

    .close-btn {
        top: -35px;
        right: -27px;
        width: 40px;
        height: 40px;
    }


.close-btn .bar3 {
        width: 54%;
        height: 2px;
        margin-right: -4px;
        top: 14px;
    }

.close-btn .bar1 {
        width: 54%;
        height: 2px;
        margin-left: 3px;
        top: 14px;
    }

.menu-name {
        font-size: 9px;
    }

.nav-blk .logo-blk a h1 p {
        font-size: 14px;
        padding-right: 33px;
    }
    .close-btn .menu-name {
        margin-top: 6px;
    }

}
